<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="【%C{1}.%M】 -----%m%n" />
		</layout>
	</appender>
	<appender name="ERROR" class="com.bt.qq.common.log4j.BTDailyRollingFileAppender">
		<param name="File" value="/home/logs/hys_error.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%t][%-5p] %C{1}.%M - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>
	<category name="com.i61.common.sqlexe" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</category>
	<root>
		<priority value="ERROR" />
		<appender-ref ref="ERROR" />
	</root>
</log4j:configuration>