<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.what2e.eatwhat.dao.OperationRecordsMapper" >
  <resultMap id="BaseResultMap" type="com.what2e.eatwhat.entity.OperationRecords" >
    <id column="operation_id" property="operationId" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="food_id" property="foodId" jdbcType="INTEGER" />
    <result column="operation_type" property="operationType" jdbcType="VARCHAR" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    operation_id, admin_id, food_id, operation_type, operation_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.what2e.eatwhat.entity.OperationRecordsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operation_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operation_records
    where operation_id = #{operationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operation_records
    where operation_id = #{operationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.what2e.eatwhat.entity.OperationRecordsExample" >
    delete from operation_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.what2e.eatwhat.entity.OperationRecords" >
    insert into operation_records (operation_id, admin_id, food_id, 
      operation_type, operation_time)
    values (#{operationId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{foodId,jdbcType=INTEGER}, 
      #{operationType,jdbcType=VARCHAR}, #{operationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.what2e.eatwhat.entity.OperationRecords" >
    insert into operation_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operationId != null" >
        operation_id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="foodId != null" >
        food_id,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operationId != null" >
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="foodId != null" >
        #{foodId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.what2e.eatwhat.entity.OperationRecordsExample" resultType="java.lang.Integer" >
    select count(*) from operation_records
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operation_records
    <set >
      <if test="record.operationId != null" >
        operation_id = #{record.operationId,jdbcType=INTEGER},
      </if>
      <if test="record.adminId != null" >
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.foodId != null" >
        food_id = #{record.foodId,jdbcType=INTEGER},
      </if>
      <if test="record.operationType != null" >
        operation_type = #{record.operationType,jdbcType=VARCHAR},
      </if>
      <if test="record.operationTime != null" >
        operation_time = #{record.operationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operation_records
    set operation_id = #{record.operationId,jdbcType=INTEGER},
      admin_id = #{record.adminId,jdbcType=INTEGER},
      food_id = #{record.foodId,jdbcType=INTEGER},
      operation_type = #{record.operationType,jdbcType=VARCHAR},
      operation_time = #{record.operationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.what2e.eatwhat.entity.OperationRecords" >
    update operation_records
    <set >
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="foodId != null" >
        food_id = #{foodId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where operation_id = #{operationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.what2e.eatwhat.entity.OperationRecords" >
    update operation_records
    set admin_id = #{adminId,jdbcType=INTEGER},
      food_id = #{foodId,jdbcType=INTEGER},
      operation_type = #{operationType,jdbcType=VARCHAR},
      operation_time = #{operationTime,jdbcType=TIMESTAMP}
    where operation_id = #{operationId,jdbcType=INTEGER}
  </update>
</mapper>