<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.what2e.eatwhat.dao.OrderOperationMapper" >
  <resultMap id="BaseResultMap" type="com.what2e.eatwhat.entity.OrderOperation" >
    <id column="order_operation_id" property="orderOperationId" jdbcType="INTEGER" />
    <result column="order_type_id" property="orderTypeId" jdbcType="INTEGER" />
    <result column="oper" property="oper" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    order_operation_id, order_type_id, oper
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.what2e.eatwhat.entity.OrderOperationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_operation
    where order_operation_id = #{orderOperationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_operation
    where order_operation_id = #{orderOperationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.what2e.eatwhat.entity.OrderOperationExample" >
    delete from order_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.what2e.eatwhat.entity.OrderOperation" >
    insert into order_operation (order_operation_id, order_type_id, oper
      )
    values (#{orderOperationId,jdbcType=INTEGER}, #{orderTypeId,jdbcType=INTEGER}, #{oper,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.what2e.eatwhat.entity.OrderOperation" >
    insert into order_operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderOperationId != null" >
        order_operation_id,
      </if>
      <if test="orderTypeId != null" >
        order_type_id,
      </if>
      <if test="oper != null" >
        oper,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderOperationId != null" >
        #{orderOperationId,jdbcType=INTEGER},
      </if>
      <if test="orderTypeId != null" >
        #{orderTypeId,jdbcType=INTEGER},
      </if>
      <if test="oper != null" >
        #{oper,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.what2e.eatwhat.entity.OrderOperationExample" resultType="java.lang.Integer" >
    select count(*) from order_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_operation
    <set >
      <if test="record.orderOperationId != null" >
        order_operation_id = #{record.orderOperationId,jdbcType=INTEGER},
      </if>
      <if test="record.orderTypeId != null" >
        order_type_id = #{record.orderTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.oper != null" >
        oper = #{record.oper,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_operation
    set order_operation_id = #{record.orderOperationId,jdbcType=INTEGER},
      order_type_id = #{record.orderTypeId,jdbcType=INTEGER},
      oper = #{record.oper,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.what2e.eatwhat.entity.OrderOperation" >
    update order_operation
    <set >
      <if test="orderTypeId != null" >
        order_type_id = #{orderTypeId,jdbcType=INTEGER},
      </if>
      <if test="oper != null" >
        oper = #{oper,jdbcType=VARCHAR},
      </if>
    </set>
    where order_operation_id = #{orderOperationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.what2e.eatwhat.entity.OrderOperation" >
    update order_operation
    set order_type_id = #{orderTypeId,jdbcType=INTEGER},
      oper = #{oper,jdbcType=VARCHAR}
    where order_operation_id = #{orderOperationId,jdbcType=INTEGER}
  </update>
</mapper>